@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244 255 235; /* #f4ffeb */
  --background-rgb: 6 19 32; /* #061320 */
  --primary-rgb: 64 248 255; /* #40f8ff */
  --secondary-rgb: 16 55 91 /* #10375B */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

[type="checkbox"]:checked, [type="radio"]:checked {
  background-color: rgb(var(--secondary-rgb));
  border-color: #fff;
}

.movingBorder .line {
  stroke-dasharray: 290;
  stroke-width: 0.25rem;
  fill: transparent;
  animation: movingBorderAnimation 8s linear infinite;
}

.glow {
  box-shadow: 0 0 20px #40f8ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  [type="checkbox"]:focus, [type="radio"]:focus {
    --tw-ring-color: rgb(var(--secondary-rgb));;
  }

  [type="checkbox"]:checked, [type="radio"]:checked {
    background-color: rgb(var(--secondary-rgb));
    border-color: #fff;
    color: rgb(var(--secondary-rgb)));
  }
}

@keyframes movingBorderAnimation {
  from {
    stroke-dashoffset: 0;
    stroke: rgba(64, 248, 255, 0.8);
  }
  to {
    stroke-dashoffset: 1000;
    stroke: #269599;
  }
}
